#titleList{
    cursor: pointer;
}

/* #title{
    padding-top: 0;
    margin: 0;
    margin-bottom: 0.2em;

}


h1{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(116, 62, 62);
    font-weight: 600;
    font-size: 1.9em;
    border-right: 30em;
    
    /* background: rgba(90, 57, 100, 0.5); */
    /* padding: 0.em 0.5em 0.2em 0.em;
} */
/* body{
    background-color: rgba(115, 138, 185, 0.651);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */ */
/* html,
body, 
.container{
    width: 100%; 
    height: 100%;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content:center ;
    align-items: center;
    min-height: 100%;
    background-color: rgb(131, 100, 100);
    
}
h1{
   background-color: rgba(88, 88, 61, 0.267);
   align-items: center;
} */
/* #categories, #descript, #img{
    width: 400px;
    height: 450px;
    background: radial-gradient(circle at top left,
    transparent 340px, rgba(218, 210, 210, 0.3)),
    radial-gradient(circle at bottom right,
    transparent 340 px, rgba(214, 209, 209, 0.3));
    margin: 5px;
    padding: 5px;
    color: whitesmoke;
    text-align: center;
    transition: .2s ease-in-out;
    display: list-item;
}
#categories:hover,
#descript:hover,
#img:hover{
    background-color: rgba(21, 104, 76, 0.2);

} */
/* .button{
    background-color: #214223;
    display: flex;
    border: 3px solid green;
    height: 2px;
    color: white;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    font-size: 19px;
    margin: 8px;
    cursor: pointer;
    
    
} */
/* #img{
    height: 400px;
    width: 450px;
}
.container-fluid{
    background-color: rgb(238, 228, 228);
    
}
#description{
  font-size: 5px;
} */
